<div class="row">
    <div class="col">
        <h4>Agregar una nueva novedad</h4>
        <form action="/admin/novedades/agregar" method="post" enctype="multipart/form-data">
            <div clas="col">
                <input type="text" class="form-control" placeholder="Compañía" name="compania">
            </div>
            <div class="col">
                <textarea type="text" class="form-control" placeholder="Titulo" name="titulo"></textarea>
            </div>
            <div class="col">
                <textarea type="text" class="form-control" placeholder="Desarrollo" name="desarrollo"></textarea>
            </div>
            <div class="col">
                <label>Imagen: <input type="file" class="form-control" name="imagen" id="imagen"/></label>
            </div>
            <button type="submit" class="btn btn- primary">Guardar</button>
        </form>
        {{#if error}}
        <p>{{message}} - No se ingreso la novedad</p>
        {{/if}}
    </div>
</div>